:root {
    /* xkcd.com/color/rgb */
    --amber: #feb308;
    --black: #000000;
    --steel-blue: #5a7d9a;
    --olive-green: #677a04;
    --grey: #929591;
    --warm-grey: #978a84;
    --light-grey: #d8dcd6;

    --background: var(--black);
    --foreground: var(--light-grey);
    --code: var(--amber);
    --link: var(--steel-blue);

    font-family: sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    max-width: 100ch;
    margin: auto;
    padding: 1ch;
}
a {
    color: var(--link);
}
code {
    color: var(--code);
}
pre {
    color: var(--code);
    margin: 2ch;
    white-space: pre-wrap;
    border: solid 1.5px;
    padding: 0.5ch;
}
section {
    border-top: solid 0.5ch;
}